<div>
  <button (click)="toOne()">one</button>
  <button (click)="toFour()">four</button>
  <button (click)="toThree()">three</button>
  <button (click)="showBoth()">showBoth</button>
  <router-outlet></router-outlet>
</div>
<div>
  <button (click)="toFive()">five</button>
  <button (click)="quxiaoFive()">quxiaoFive</button>
  <router-outlet name="isFive"></router-outlet>
</div>
<button (click)="toTwo()">two</button>
<button (click)="quxiaoTwo()">quxiaoTwo</button>
<router-outlet name="isTwo"></router-outlet>

<app-canvans-com id="host"></app-canvans-com>
