<div>
  <button (click)="toOne()">one</button>
  <button (click)="toFour()">four</button>
  <button (click)="toThree()">three</button>
  <button (click)="showBoth()">同时显示两个插槽，并传递参数</button>
  <button (click)="closeBoth()">关闭两个插槽</button>

  <div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</div>
<div>
  <button (click)="toFive()">five</button>
  <button (click)="quxiaoFive()">quxiaoFive</button>
  <router-outlet name="isFive"></router-outlet>
</div>
<button (click)="toTwo()">two</button>
<button (click)="quxiaoTwo()">quxiaoTwo</button>
<router-outlet name="isTwo"></router-outlet>
<app-canvans-com id="host"></app-canvans-com>
